# ===============================
# Build / Compiled files
# ===============================
target/
*.class
*.log
*.jar

# ===============================
# IDE / Editor files
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment / Secrets
# ===============================
app/src/main/resources/application.properties

