body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #0f0c29, #302b63, #24243e);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.auth-container {
  background: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 15px #00ffcc80;
  width: 320px;
  text-align: center;
}

.auth-container h2 {
  color: #00ffcc;
  margin-bottom: 1.5rem;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  background: #00ffcc;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  color: #111;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #0ae8b1;
}
